.typewriter {
    white-space: nowrap;
    overflow: hidden;
    border-right: 6px solid black;
    width: 0;
    animation: typing 5s steps(30, end) infinite, blink 0.3s infinite;
}

@keyframes typing {
    0% {
        width: 0;
    }

    50% {
        width: 100%;
    }

    70% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.text-image {
    background-image: url('./assets/grayscale.jpeg');
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 1;
}

/* for modal */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fadeIn 0.3s ease-out;
}

/* for loader */
.rotate {
    animation: roate 1s linear infinite both;
}

@keyframes roate {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}